<p id="notice"><%= notice %></p>

<h1>Words</h1>

<p>
  <%= link_to 'New Word', new_word_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Answer</th>
      <th>Visited</th>
      <th>Group</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.title %></td>
        <td><%= word.answer %></td>
        <td><%= word.visited %></td>
        <td><%= word.group %></td>
        <td><%= link_to 'Show', word %></td>
        <td><%= link_to 'Memorizing', start_path(group: word.group) %></td>
        <td><%= link_to 'Edit', edit_word_path(word) %></td>
        <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

